* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.tabuleiro {
	width: 600px;
	height: 650px;
	margin: 0 auto;
}

.tabuleiro {
	display: flex;
	flex-wrap: wrap;
}

.cartas {
	margin: 5px;
	height: 120px;
	width: 120px;
	background-repeat: no-repeat;
}

.desmarcada.selected {
	background-image: none;
	cursor: default;
}

.desmarcada {
	cursor: pointer;
}

.botoes {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.botaoParar {
	background: #e52e4d;
}

.btnInicio {
	background: #5429cc;
}

button {
	margin-top: 10px;
	font-size: 18px;
	height: 40px;
	border: 0;
	border-radius: 3px;
	color: #fff;
}

h1 {
	font-size: 100px;
	text-align: center;
}

img {
	margin: 5px;
	height: 120px;
	width: 120px;
}

img:hover {
	box-shadow: 0px 0px 20px grey;
}